.users {
    width: 15%;
    display: block;
    /*display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;*/

}

@media (max-width: 1075px) {
    .users {
        position: absolute;
        z-index: 1;
        width: 300px;
        top: 62px;
        left: 0;
        transition: 0.5s;
        transform: translateX(-300px);
    }

    .users_active {
        transform: translateX(0);
    }
}

.users__items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.users__item {
    display: inline-flex;
    padding: 10px;
    flex-grow: 1;
    margin: 0;
    background-color: #A9A9A9;
    color: #fff;
}

.users__item:hover{
    transition: 0.2s;
    background-color: #FFF0F5;
    cursor: pointer;
    color: #000000;
}

.users__item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align:middle;
    border: 2px solid #000000;

}
.users__item span {
    margin-left: 10px;
}

.users__item {
    text-decoration: none;

}

/* Разворачивающийся блок */

.addNewUserBlock {

}

.addUser_action {
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    padding: 10px 0;
    background-color: #A9A9A9;
    color: #fff;
    text-transform: uppercase;
}

.addUser_action:hover {
    transition: 0.2s;
    background-color: #FFF0F5;
    cursor: pointer;
    color: #000000;
}

.addUser_action_active {
    color: #000000;
    background-color: #FFF0F5;
    border-bottom: 2px solid rgba(36, 36, 35, 1);
}

.addUserSpn {
    height: 40px;
    width: 100%;
}

.hiddenBlock {
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.6s;
    transform-origin: top center;
    transform: scaleY(0);
    background-color: rgba(155, 168, 168, 0.1);

}

.hiddenBlock_active {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    border-bottom: 2px solid rgba(36, 36, 35, 1);
    background-color: rgba(155, 168, 168, 1);
    z-index: 101;
}

.firstNameInput {
    margin-top: 10px;
}

input {
    border: 0;
    margin: 0 10px 10px 10px;
    height: 20px;
    padding-left: 10px;
    border-radius: 3px;
    width: 100%;
}

input:focus {
    outline: 0;
    outline-offset: 0;
    border: 2px solid rgba(36, 36, 35, .5);
}

.addButton {
    border: none;
    outline: none;
    border-radius: 3px;
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
}

.addButton:hover {
    transition: 0.5s;
    color: #fff;
    background-color: rgba(94, 94, 94, 1);
    border: 2px solid rgba(13, 13, 13, 0.3);
    cursor: pointer;
}

.addButton:focus {
    transition: 0.3s;
    color: #fff;
    background-color: rgba(105, 105, 105, 0.3);
    border: 2px solid rgba(13, 13, 13, 0.3);
}

/* media   ------------------*/

@media (max-width: 399px) {
    .users {
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 62px;
        left: 0;
        bottom: 0;
        right: 0;
        transition: 0.5s;
        background-color: #A9A9A9;
        transform: translateX(-100%);
    }
    .users_active {
        transform: translateX(0);
    }
    .users__items{
        flex-direction: column;
        display: flex;
    }
    .users__item {
        width: 100%;
        padding: 10px 0;

    }
}