.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonGroup_items {
    margin-bottom: -1.0em;
    margin-top: 0.7em;
}

.addButton, .addButtonInactive {
    border: none;
    outline: none;
    border-radius: 3px;
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
}

.addButtonInactive {
    background-color: white;
    border-bottom: 2px solid black;
}

.addButton:hover {
    transition: 0.5s;
    color: #fff;
    background-color: rgba(94, 94, 94, 1);
    border: 2px solid rgba(13, 13, 13, 0.3);
    cursor: pointer;
}

.addButton:focus {
    transition: 0.3s;
    color: #fff;
    background-color: rgba(105, 105, 105, 0.3);
    border: 2px solid rgba(13, 13, 13, 0.3);
}

