.header {
    position: relative;
    width: 100%;
    line-height: 60px;
    height: 60px;
}

.fixed_block {
    position: fixed;
    width: 100%;
    top: 0;
    font-size: x-large;
    line-height: 60px;
    height: 60px;
    background-color: #A9A9A9;
    color: #fff;
    z-index: 99;
    border-bottom: 2px solid rgba(36, 36, 35, 1);
}

.header_blocks {
    float: right;
    display: inline-flex;

}

.header span {
    margin-right: 0.7em;
}

.input_user {
    margin-left: 0.7em;
    float: left;
    display: flex;
}

.input_user input {
    height: 30px;
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius: 5%;
    outline: 0;
    margin-left: 5px;
    border: solid black 2px;
}